#error-message{
    display: none
}

.post{
    background-color: aquamarine;
    padding: 10px;
    margin: 20px 20px;
    border: 2px solid red;
    border-radius: 20px;
}

#loading{
    width: 2rem;
    height: 2rem;
    border: 2px solid red;
    border-top: 6px solid green;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
.display{
    visibility: visible;
}
@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
